{% extends 'menu.html' %}
{% block content %}
<main class="main-content bgc-grey-100 app-form">
    <div id="mainContent">
        <div id="mainEnquiry">
            <center>
                <button type="button" class="btn btn-success" onclick="myFunction()">NEW MESSAGE</button>
            </center>
            <div class="col-12 col-md-4 peer pX-40 pY-40 h-100 bgc-white scrollable pos-r" id="suggession" style="min-width:320px;display:none;  ">
                <h4 class="fw-300 c-grey-900 mB-40">Enquiry Message</h4>
                <form id="my_form" enctype="multipart/form-data">
                    <div class="form-group">
                        <label class="text-normal text-dark">Subject</label>
                        <input type="text" class="form-control ip require" placeholder="Subject">
                    </div>
                    <div class="form-group">
                        <label class="text-normal text-dark">Message</label>
                        <textarea type="textarea" class="form-control textarea require" placeholder="Message"></textarea>
                    </div>
                    <div class="form-group">
                        <div class="peers ai-c jc-sb fxw-nw">
                            <div class="peer">
                                <button class="btn btn-primary">Send</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>            
{% endblock %}