{% extends 'menu.html' %}
{% block content %}
<main class="main-content bgc-grey-100">
    <div id="mainContent">
        <center>
            <button type="button" class="btn btn-success" onclick="myFunction1()">NEW SUGGESTION</button>
        </center>
        <div class="col-12 col-md-4 peer pX-40 pY-40 h-100 bgc-white scrollable pos-r" id="suggession" style="min-width:320px;display:none;  ">
            <h4 class="fw-300 c-grey-900 mB-40">Suggestion Message</h4>
            <form>
                <div class="form-group">
                    <label class="text-normal text-dark">Contact Name</label>
                    <input type="email" class="form-control" placeholder="Contact Name">
                </div>
                <div class="form-group">
                    <label class="text-normal text-dark">Phone Number</label>
                    <input type="numeric" class="form-control" placeholder="Phone Number">
                </div>
                <div class="form-group">
                    <label class="text-normal text-dark">Subject</label>
                    <input type="text" class="form-control" placeholder="Subject">
                </div>
                <div class="form-group">
                    <label class="text-normal text-dark">Message</label>
                    <textarea type="textarea" class="form-control" placeholder="Message"></textarea>
                </div>
                <div class="form-group">
                    <div class="peers ai-c jc-sb fxw-nw">
                        <div class="peer">
                            <button class="btn btn-primary">Send</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</main>
{% endblock %}